:root {
  --input-background-color: lightyellow;
  --input-placeholder-color: darkgray;
}

:root.color-scheme-dark {
  --input-background-color: saddlebrown;
  --input-placeholder-color: lightgray;
}
