:root {
  --background-color: white;
  --text-color: black;
  --detail-color: gray;
  --hover-color: darkcyan;
  --input-background-color: lightyellow;
  --shadow-color: rgba(0, 0, 0, 0.25);
}

:root.color-scheme-dark {
  --background-color: #121212;
  --text-color: white;
  --detail-color: lightgray;
  --hover-color: orange;
  --input-background-color: saddlebrown;
  --shadow-color: rgba(255, 255, 255, 0.25);
}

.App {
  text-align: center;
}

.App-header {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  max-width: 40rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
