.weather {
  background-color: var(--background-color);
  border-radius: 5px;
  border: 1px solid var(--detail-color);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  color: var(--text-color);
  display: flex;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: 0.75rem;
  width: 12.5rem;
}

.weather__img {
  align-self: center;
  width: 50px;
}

.weather__body {
  flex-grow: 1;
  margin-left: 0.75rem;
  overflow: hidden;
}

.weather__city {
  display: flex;
  justify-content: flex-end;
}

.weather__text {
  margin: 0;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.weather__text--large {
  font-size: 1.25rem;
  font-weight: bold;
}

.weather__text--detail {
  color: var(--detail-color);
}

.weather__location {
  background-color: transparent;
  border: none;
  color: var(--detail-color);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  transition: color 125ms;
}

.weather__my-location {
  background-color: transparent;
  border: none;
  color: var(--detail-color);
  cursor: pointer;
  transition: color 125ms;
}

.weather__location:hover,
.weather__my-location:hover {
  color: var(--hover-color);
}
